<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitHubPushLib" version="0.1.0" targetFramework="net45" />
  <package id="GitSharp" version="0.3" targetFramework="net45" />
  <package id="Machado.Microsoft.TeamFoundation" version="12.0.0.0" targetFramework="net45" />
  <package id="Machado.Microsoft.TeamFoundation.Client" version="12.0.0.5" targetFramework="net45" />
  <package id="Microsoft.TeamFoundation" version="11.0.0.0" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Client" version="12.0.21005.3" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Common" version="12.0.30501.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.TeamFoundation.Diff" version="12.0.30501.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
  <package id="SharpGit-x64" version="0.2203.1088.185" targetFramework="net45" />
  <package id="SharpGit-x86" version="0.2203.1088.185" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net45" />
  <package id="TeamFoundation.11" version="11.0.50727.1" targetFramework="net45" />
  <package id="TFS.API" version="11.0.50727.1" targetFramework="net45" />
  <package id="Winterdom.IO.FileMap" version="2.0.2.0" targetFramework="net45" />
</packages>